* {
    box-sizing: border-box;
}

html {
    background-color: rgb(245, 245, 245);
    font-family: "Segoe UI", sans-serif;
    font-size: 17px;
}

.projectTitle {
    font-weight: 500;
    margin-bottom: 2%;
    text-decoration: underline;
}

.container {
    position: relative;
    width: 50%;
    height: calc(0.5625 * 50%);
    max-width: 55vw;
    max-height: 60vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.slideshow {
    display: none;
    width: 100%;
    height: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    scale: 1.05 1;
}

.prev:hover {
    translate: 0.25vw 0
}

.next:hover {
    translate: -0.25vw 0
}

.numberText {
    position: absolute;
    top: 10%;
    padding: 8px 12px;
    font-size: 12px;
    color: rgb(242, 242, 242)
}

.row {
    display: flex;
    justify-content: space-around;
    background-color: #212122;
    border: 3px #212122 solid;
    border-radius: 4px;
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 13%;
    margin: 5px auto
}

.videoSlide {
    width: 100%;
}

.thumbnail {
    opacity: 0.6;
    cursor: pointer;
    border: 2px white solid;
    border-radius: 4px
}

.active, .thumbnail:hover {
    opacity: 1;
    scale: 1.05
}

.thumbnail:active {
    scale: 1;
}

.imageSlide {
    width: 100%;
    height: 100%;
    border: 2px white solid
}