html {
    /*background-color: rgba(175, 175, 200, 255)*/
    background-color: white;
    font-family: "Segoe UI", sans-serif;
}

#intro {
    position: relative;
    text-align: center;
    top: 40vh;
}


/* rounded button sample - W3 Schools*/
/*#desktopProjectsBtn {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}*/
