#navBar {
    position: fixed;
    z-index: 1;
    top: 0.1vh
}

#navBar a:hover {
    font-size: 18px;
    background-color: rgb(200, 200, 205);
}

#desktopDropdown {
    display: inline-block;
    position: relative;
}

#webDropdown {
    display: inline-block;
    position: relative;
}

#desktopContent {
    display: none;
    position: absolute;
    background-color: rgb(215, 215, 240)
}

#desktopContent a {
    display: block;
    color: black;
    text-decoration: none;
}

#webContent {
    display: none;
    position: absolute;
    background-color: rgb(215, 215, 240)
}

#webContent a {
    display: block;
    color: black;
    text-decoration: none;
}

.navBarButtons {
    height: 2.5rem;
    background-color: rgb(40, 175, 125);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
}

.navBarButtons:active {
    background-color: rgb(15, 165, 110);
}

#desktopDropdown:hover #desktopContent { display: block; }

#webDropdown:hover #webContent {
    display: block;
}