html {
    background-color: rgb(245, 245, 245);
    font-family: "Segoe UI", sans-serif;
}

p {
    margin-top: 0;
}

.projectTitles {
    text-decoration: underline;
    font-weight: 500;
}

.liveDemo {
    font-weight: bold;
}

.liveDemo a {
    font-weight: 500;
    text-decoration: none;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-bottom: 0;
}

#webProjects {
    position: absolute;
    display: inline-block;
    left: 20rem;
    top: 9rem;
    width: 45vw;
}